<div class="container">
  <div class="header-bar"><h2>We are at the heart of appropriate care</h2></div>
  <div class="cards">
    <div class="login-card">
      <div class="image"><img src="/assets/LifeCoachLogIn.jpg" alt="" /></div>
      <div class="btn">
        <button>Login as a Coach</button>
        <button>Join as a Coach</button>
      </div>
    </div>
    <div class="login-card">
      <div class="image"><img src="/assets/UserLogIn.jpg" alt="" /></div>
      <div class="btn">
        <button>Login as a User</button>
        <button>Join as a User</button>
      </div>
    </div>
  </div>
</div>
